    <body>

<h1>Intentions de messes</h1>


{% set la_date="" %}

 <table >
{% for messe in messes %}
   
    {% if (messe.dateheure|date('Y-m-d')>=options.debut) and (options.fin>=messe.dateheure|date('Y-m-d')) %}
    
    {% if messe.dateheure|date('Y-m-d')!=la_date and messe.intentions|length>0%} 
    
        {% set la_date=messe.dateheure|date('Y-m-d') %} 
       
    <tr><td></td></tr>
       <tr><td><b>{{ la_date|format_datetime('full','none',locale='fr') }} </b></td></tr>
    
    
    {% endif %}
     
    {% if messe.intentions|length>0 %}
   <tr><td style="font-style: italic; text-decoration: underline;">{{messe.dateheure|date('H-i')}}  {{messe.reservationEglise.salle}}</td></tr>
    <tr><td>{% for intention in messe.intentions %}{{ intention.intention }}<br>{% endfor %}</td></tr>
   
    {% endif %}
    {% endif %}
    
 {% endfor %}
</table>
</body>
